<video #video class="video-js" autoplay (click)="onVideoToggle()">
  <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
  <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
</video>
<!-- PLAY LIST -->
<div class="playlist" [class.fade-in]="showPlayList">
  <div (click)="onVideoToggle()">Hello World</div>
</div>

<!-- SCREEN --->
<div class="brightness" [class.fade-in]="showLeft" [class.fade-out]="!showLeft"
  (touchend)="onTouchBrightnessEnd($event)"  
  (touchmove)="onTouchBrightness($event)"  
  (touchstart)="onTouchBrightnessStart($event)">
  <div class="value" [style.height]="brightness + '%'" #left></div>
  <div class="range-output">{{brightness}}</div>
</div>

<!-- SOUND --->
<div class="volume" [class.fade-in]="showRight" [class.fade-out]="!showRight"
  (touchend)="onTouchVolumeEnd($event)"  
  (touchmove)="onTouchVolume($event)"  
  (touchstart)="onTouchVolumeStart($event)">
  <div class="value" [style.height]="volume + '%'" #right></div>
  <div class="range-output">{{volume}}</div>
</div>
